.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-image-wrapper {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 8px; /* Optional spacing between button and image */
}

.button-download {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 8px; 
}

.check-image {
  width: auto;
  height: 100%; /* Makes image height equal to button height */
}
