.declaraties {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inner-card {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-declaratie {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
